<!-- Custom styles for this template -->
<link href="https://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/">Overview</a></li>
                <li><a href="/patients">Patients<span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/product/all">Inventory</a></li>
                <li><a href="#">Export</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item</a></li>
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <section class="edit">
                <form action="/product/edit" method="post">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Product Information</h1>
                        </div>

                        {{# if message.length }}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Update!</strong> {{ message }}
                            </div>
                        {{/if}}

                        <table class="table table-striped" style="table-layout: fixed; width: 150%">
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Product Name</td>
                                <td>
                                    <input type="text" class="form-control" id="name" name="name" value="{{product.name}}">
                                </td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>
                                    <input type="text" class="form-control" id="description" name="description" value="{{product.description}}">
                                </td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>
                                    <input type="text" class="form-control" id="category" name="category" value="{{product.description}}">
                                </td>
                            </tr>
                            <tr>
                                <td>Vendor</td>
                                <td>
                                    <input type="text" class="form-control" id="vendor" name="vendor" value="{{product.vendor}}">
                                </td>
                            </tr>
                            <tr>
                                <td>Image Link</td>
                                <td>
                                    <input type="text" class="form-control" id="imagelink" name="imagelink" value="{{product.imagelink}}">
                                </td>
                            </tr>
                            <tr>
                                <td>Quantity</td>
                                <td>
                                    <div class="input-group">
                                        <input type="number" step="1" class="form-control" id="quantity_oz" name="quantity_oz" value="{{product.quantity_oz}}" required>
                                        <span class="input-group-addon">oz</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Price 1/8 oz</td>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" class="form-control" id="price_eighth_oz" name="price_eighth_oz" value="{{product.price_eighth_oz}}" required>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Price 1/4 oz</td>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" class="form-control" id="price_quarter_oz" name="price_quarter_oz" value="{{product.price_quarter_oz}}" required>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Price 1/2 oz</td>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" class="form-control" id="price_half_oz" name="price_half_oz" value="{{product.price_half_oz}}" required>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Price 1 oz</td>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" class="form-control" id="price_one_oz" name="price_one_oz" value="{{product.price_one_oz}}" required>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Price 1 pound</td>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" class="form-control" id="price_one_pound" name="price_one_pound" value="{{product.price_one_pound}}" required>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <input type="hidden" id="id" name="id" value="{{product._id}}">
                        <div class="col-md-4 col-md-offset-9">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="submit" class="btn btn-success">Save</button>
                                <a href="/product/get/{{ product._id }}" type="button" class="btn btn-warning">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>


